@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@layer base {
    body {
        margin: 0;
        max-height: 100vh;
        font-family: 'Cutive Mono', monospace;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
    .obstacle-transition {
        transition-property: transform;
    }
    .obstacle-transform-start {
        transform: translateX(700px);
    }
    .obstacle-transform-end {
        transform: translateX(-48px);
    }
    .obstacle-duration-1 {
        transition-duration: 2.2s;
    }
}